div{
    margin: 300px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    border-radius: 20px;
}

button{
    padding: 10px 40px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 20px;
    outline: none;
    color: black;
    height: 50px;
    text-transform: uppercase;
}

.tab{
    margin: 30px 120px;
    background-color:#171717;
    color: white;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.7s;
}



h1{
    text-align: center;
    border-radius: 150px 10px;
    margin: 10px;
    text-transform: uppercase;
    border: solid 1px;
    background-color: #f4f4f8;
    color: #58668b;
}